body{
    text-align: center;
    
    
    
}
    .line{ height:6px;
    width:70px;
    background-color:red;
        margin:8px auto;}



h1{ font-size:60px;
    font-weight:400;
    font-family:sans-serif;}


#Apps{ width:100%;
    height:800px;
        background-color: aqua;
    
    
    
}



#Games{ width:100%;
    height:800px;
        background-color: aqua;
    
    
    
}


#Chatbot{ width:100%;
    height:1000px;
        background-color: aqua;
}


img{ transition:transform .2s;
    
    
    
}



img:hover{ transform:scale(0.9);
    
    
    
}

#mycarousel img{ height:300px;
    margin-top: 35px;
 
}


#mycarousel{ background-color: purple;
 
}


.container{
    text-align: center;
    
    
}

.carousel-inner p{
    color:white;
    margin-bottom:15px;
    margin-top:15px;
        
    
    
}	








        